# Requirements for the core cookiecutter template.
{{cookiecutter.whisk_dependency}}
ipykernel
python-dotenv
dvc
boto3
Flask==1.1.2
honcho==1.0.1
gunicorn==20.0.4
invoke==1.4.1
tox==3.15.0
twine==1.14.0
Click==7.0
pytest==4.6.5
pytest-runner==5.1
